body {
    font: 12px Arial;
    margin: 10vh auto;
}

div {
    display: block;
    margin: auto; 
    text-align: center; 
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 250px;
    height: 50px;
    padding: 1px;
    font: 10px sans-serif;
    background: peachpuff;
    border-radius: 30px;
    pointer-events: none;
}

.bar, .circle, .arc {
    fill: salmon;
}

.bar:hover, .circle:hover, .arc:hover {
    fill: magenta;
}

.arc {
  stroke: #fff;
  stroke-width: 1px;
}